@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

body{
    font-family: 'Abyssinica SIL', serif;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    min-height: 100vh;
}
button{
    font-family: 'Abyssinica SIL', serif;
    font-size: 15px;
    position: relative;
    display: block;
    width: 135px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    background: black;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    color: white;
}
button:hover{
    color: rgb(221, 221, 221);
    transition: ease-in 0.3s;
}
button:active{
    color: rgb(96, 96, 96);
    transition: ease-in 0.1s;
}

p{
    font-family: 'Abyssinica SIL', serif;
    margin-left: 20px;
}

.logo img{
    width: 43.75px;
    height: 50px;
}